<!-- INICIO: NAVEGATION -->
<nav class="navbar navbar-expand-lg navbar-dark nav m-0">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"> INICIO |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tours"> TOURS |</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Fin NAVEGATION -->
  <!-- INICIO: TITULO APP -->
  <nav class="banner shadow-none">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="title"> TuristeAR </div>
        <div class="sub-title"> Argentina para el mundo </div><!--Conoce el mundo desde casa-->
      </div>
      <div class="col-md-4"></div>
    </div>
  </nav>
  <!-- Fin TITULO APP -->
  
  <!-- Header -->
  <div class=" mx-0 text-center" style="min-height: 96vh;">
  
  <!--div class="productos-header" style="min-height:890px ;">
      <div class="container p-5 justify-content-center text-center  ">
          <h1 class="text-black mb-5 ">Pre-video</h1>
          <div class="row">
          <div class = "container p-0 justify-content-center text-center">
            <div class = "card mb-3" style="max-width:90%" >
              <div class ="row no-gutters" style="width: 100%;" >
                <div class ="col-md-6 p-0">
                  <img class="card-img-top img-fluid" style="height: 100%; overflow:auto;" src="assets/img/obelisco.jpg" alt="Card image cap">
                </div>
                <div class="col ml-2">
                  <div class="card-body m-0 p-0">
                    <h1 class="pr-5 pl-5 pt-5 pb-4">Buenos Aires</h1>
                    <p class="mb-3">Emocionante recorrido alrededor de la capital de Argentina. Visitaremos el Obelisco, el Rosedal, Puerto madero entre otros.</p>
                    <div class="row m-0 p-0" styles="border-spacing 0 15px">
                      <h4 class="col mx-0 pr-0">Guias:</h4><p class="col ml-0 pl-0">Luisito Comunica, AlanxElMundo</p>
                    </div>
                    <div class="row m-0 p-0" styles="border-spacing 0 15px">
                      <h4 class="col mx-0 pr-0">Precio:</h4><p class="col ml-0 pl-0">USD 12.99</p>
                    </div>
       
                    <div class="row">
                      <a class="nav-link col" href="/video/:id">
                      <button type="button" class="btn btn-success mt-2 mx-2 px-4">COMPARTIR</button>
                      </a>
                      <a class="nav-link col" href="/demo">
                      <button type = "button" class="btn btn-primary mt-2 mx-2 px-4"> INICIAR</button>
                      </a>
                    </div>
                    <div class="row mt-4 mb-1">
                      <div>
                      <mat-icon class="icon checked">star_rate</mat-icon>
                      <mat-icon class="icon checked">star_rate</mat-icon>
                      <mat-icon class="icon checked">star_rate</mat-icon>
                      <mat-icon class="icon checked">star_rate</mat-icon>
                      <mat-icon class="icon">star_rate</mat-icon>
                      </div>
                    </div>
                   <div class ="row mt-4">
                     <small class="col">Reproducciones: 257K</small>
                    <small class="col">Duracion: 1:30 horas</small>
                    <p class="my-0 mr-0 col " style="text-align: right;"><small class="text-muted">last updated 3 mins</small></p>
                  
                  </div>
                   
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div-->
  
      <div class="card-title highlight-card"> Información </div>
      <div class="row">
        <div class="col-md-3 col-lg-6">
          <!--img class="card-img-top img-fluid" class="card-image" src="assets/img/obelisco.jpg" alt="Obelisco"-->
          <iframe class="card-video" title="YouTube video player" width="800" height="450"
                    src="https://www.youtube.com/embed/anXGaAcYXsE" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
          </iframe>
        </div>
        <div class="col-md-3 col-lg-6">
          <div class="text-center" style="margin: auto 5% auto 5%;">
  
            <h1 class="pr-5 pl-5 pt-5 pb-4">Mendoza</h1>
            <p class="mb-3"> Emocionante recorrido alrededor de la provincia. Visitaremos el Aconcagua, el Parque general San Martín, entre otros. </p>
            <div class="row m-0 p-0">
              <h4 class="col mx-0 pr-0"> Guias: </h4><p class="col ml-0 pl-0"> Luisito Comunica y AlanxElMundo </p>
            </div>
            <div class="row m-0 p-0">
              <h4 class="col mx-0 pr-0"> Precio: </h4><p class="col ml-0 pl-0"> USD 11.99 </p>
            </div>
  
            <div class="row">
              <a class="nav-link col" href="/video/:id">
              <button type="button" class="btn btn-success mt-2 mx-2 px-4"> COMPARTIR </button>
              </a>
              <a class="nav-link col" href="/interactionTres">
              <button type = "button" class="btn btn-primary mt-2 mx-2 px-4"> INICIAR </button>
              </a>
            </div>
            <div class="row mt-4 mb-1">
              <div> Valoración
                <mat-icon class="icon checked">star_rate</mat-icon>
                <mat-icon class="icon checked">star_rate</mat-icon>
                <mat-icon class="icon checked">star_rate</mat-icon>
                <mat-icon class="icon checked">star_rate</mat-icon>
                <mat-icon class="icon">star_rate</mat-icon>
              </div>
            </div>
           <div class ="row mt-4 mb-1">
              <small class="col"> Vistas: 258K </small>
              <small class="col"> Duración: 1:30 hs</small>
              <small class="col"> 20/05/2021 </small>
          </div>
        </div>
      </div>
        
      <!--/div-->
    </div>
      
  
      <div>

      </div>
  </div>
  
  <!-- INICIO: FOOTER -->
  <footer class="footer">
    <div class="container text-white">
      <br/>
      <div class="row">
        <!-- Redes sociales -->
        <div class="col-md-4 col-lg-5">
          <div class="title"> Redes sociales </div>
          <p>
            <mat-icon class="material-icons-round">facebook</mat-icon>&nbsp;&nbsp;
            <span style="vertical-align: super;">TuristeAR</span>
          </p>
          <p>
            <mat-icon class="material-icons-round">travel_explore</mat-icon>&nbsp;&nbsp;
            <span style="vertical-align: super;">TuristeAR.blog.com</span>
          </p>
          <p>
            <mat-icon class="material-icons-round">share</mat-icon>&nbsp;&nbsp;
            <span style="vertical-align: super;">TuristeAR</span>
          </p>
          <p>
            <mat-icon class="material-icons-round">alternate_email</mat-icon>&nbsp;&nbsp;
            <span style="vertical-align: super;">Turiste_AR</span>
          </p>
        </div>
        <!-- Contacto -->
        <div class="col-md-4 col-lg-5">
          <div class="title"> Valoranos </div>
          <p>
            <mat-icon class="material-icons-round">local_cafe</mat-icon>&nbsp;&nbsp;
            <span style="vertical-align: super;">Cafecito</span>
          </p>
          <p>
            <mat-icon class="material-icons-round">star</mat-icon>&nbsp;&nbsp;
            <a style="vertical-align: super;" href="https://github.com/AndreaRojas/app-control-turismo-ui" target="_blank" rel="noopener"> Dejanos una estrella</a>
          </p>
        </div>
        <!-- Contacto -->
        <div class="col-md-4 col-lg-2">
          <div class="title"> Contacto </div>
          <p>
            <mat-icon class="material-icons-round">location_city</mat-icon>&nbsp;&nbsp;
            <span style="vertical-align: super;">Buenos Aires</span>
          </p>
          <p>
            <mat-icon class="material-icons-round">location_on</mat-icon>&nbsp;&nbsp;
            <span style="vertical-align: super;">Lima 775, C1073</span>
          </p>
          <p>
            <mat-icon class="material-icons-round">call</mat-icon>&nbsp;&nbsp;
            <span style="vertical-align: super;">(011) 4000-7600</span>
          </p>
          <p>
            <mat-icon class="material-icons-round">alternate_email</mat-icon>&nbsp;&nbsp;
            <span style="vertical-align: super;">info@turistear.com</span>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Fin FOOTER -->