<!-- INICIO: NAVEGATION -->
<nav class="navbar navbar-expand-lg navbar-dark nav m-0">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"> INICIO |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tours"> TOURS |</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Fin NAVEGATION -->
<!-- INICIO: TITULO APP -->
<nav class="banner shadow-none">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="title"> TuristeAR </div>
      <div class="sub-title"> Argentina para el mundo </div><!--Conoce el mundo desde casa-->
    </div>
    <div class="col-md-4"></div>
  </div>
</nav>
<!-- Fin TITULO APP -->
<!-- INICIO: Banner COVID-->
<nav class="my-0">
  <div class="row">
    <div class="col-sm-2">
      <!--div class="banner_ad_covid-whatsapp">
      </div-->
    </div>
    <div class="col-md-8">
      <div class="banner_ad_covid">
      </div>
    </div>
    <div class="col-sm-2 mx-n4">
      <!--div class="banner_ad_covid-whatsapp">
      </div-->
    </div>
  </div>
</nav>
<!-- Fin BANNER -->
<!-- Header -->
<div class="mx-0" style="min-height: 96vh;">
  <div class="card">
    <h1 class="card-title text-center hightlight-card mt-5">Experiencia Buenos Aires</h1>
    <div class="margin row">
      <div class="col-md-3 col-lg-6">
        <!--img class="card-img-top img-fluid" class="card-image" src="assets/img/obelisco.jpg" alt="Obelisco"-->
        <iframe class="card-video" title="YouTube video player" style="width: 40vw;height: 45vh;"
          src="https://www.youtube.com/embed/Wn1bFaqeQiw" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
      <div class="col-md-3 col-lg-6 px-3">
        <div class="card-container mx-2" style="margin: auto 5% auto 5%;">

          <div class="row text-left my-3">
            <div>
              <mat-icon class="material-icons-round text-warning">star</mat-icon>
              <mat-icon class="material-icons-round text-warning">star</mat-icon>
              <mat-icon class="material-icons-round text-warning">star</mat-icon>
              <mat-icon class="material-icons-round text-warning">star_half</mat-icon>
              <mat-icon class="material-icons-round text-warning">star_border</mat-icon>
              &nbsp;&nbsp;<a href="video/1234#resenias"> 225 comentarios </a>
            </div>
          </div>
          <br/>
          <div class="row py-2">
            <div class="col-sm-5">
              <a href="video/1234#experiencia_interactiva" style=" text-decoration: none">
              <p>Experiencia interactiva</p>
              </a>
            </div>
            <div class="col-sm-4">
              <p>8 USD</p>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary mx-1 px-4" data-toggle="modal" data-target="#comprar"
                *ngIf="notPaid"> Comprar </button>
              <a *ngIf="!notPaid" class="nav-link" href="/interactivo/1234">
                <button type="button" class="btn btn-success mx-1 px-4"> Ver </button> 
              </a>
            </div>
          </div>
          <hr/>
          <div class="row py-2">
            <div class="col-sm-5">
              <a href="video/1234#experiencia_section" style=" text-decoration: none">
              <p>Experiencia en línea</p>
              </a>
            </div>
            <div class="col-sm-4">
              <p>Desde 17 USD</p>
            </div>
            <div class="col-sm-2">
              <a href="video/1234#reserva_section">
                <button type="button" class="btn btn-primary mx-1 px-4"> Reservar </button>
              </a>
            </div>
          </div>
          <hr/>
          <div class="row py-2">
            <div class="col-sm-5">
              <p>
                Combo premium&nbsp;&nbsp;
                <a style="cursor:pointer;" data-toggle="modal" data-target="#masInfo"><mat-icon class="material-icons-outlined icon-custo" ngbTooltip="Más información">info</mat-icon></a>
              </p>
            </div>
            <div class="col-sm-4">
              <span>20 USD</span>&nbsp;&nbsp;<span style="color: green;">20% OFF</span>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary mx-1 px-4"> Adquirir </button>
            </div>
          </div>

        </div>
      </div>
      <div class="mb-0">&nbsp;</div>
      <div class="mb-0">&nbsp;</div>
    </div>
    <!-- Online experience Section -->
    <div class="row">
      <nav class="bar navbar-expand-lg navbar-dark nav m-0" style="height: 120px;">
        <div class="container-fluid">
          <div class="container mt-3 mb-3">
            <h1 class="text-center" style="color: white;"> Experiencia Interactiva </h1>
            <h5 class="text-center mt-3" style="color: white;">
              Una nueva forma de acercarte a lo que hay del otro lado.
            </h5>
          </div>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class ="col">
        <!--div class="row">
          <div class="col-sm-6 ml-4 mt-4">
            <div class="text-left">
              <h1> > Descripción Experiencia Interactiva </h1>
            </div>
          </div>
        </div-->
        <div class="row">
          <div class ="col-sm-6 mx-5 my-5" id="experiencia_interactiva">
            <div class="text-left mx-5 my-3">
              <h3> Acerca del tour </h3>
              <p>
                Recorrido completo de los puntos de interés más aclamados por el público. Si es que alguna vez estuviste en
                la city porteña y no tuviste tiempo de conocerla un poco más en detalle. No te preocupes, que este guía te
                acompaña a lo largo de esos puntos que no pudiste experimentar y los vas a disfrutar de una forma distinta,
                que jamás te vas a olvidar de ellos.
              </p>
            </div>
            <br/>
            <div class="text-left mx-5">
              <h4> Puntos que vas a conocer: </h4>
              <span>
                <mat-icon class="icon-xs material-icons-round"> place </mat-icon>&nbsp;&nbsp;Rosedal
              </span>
              <br/>
              <span>
                <mat-icon class="icon-xs material-icons-round"> place </mat-icon>&nbsp;&nbsp;Obelisco
              </span>
              <br/>
              <span>
                <mat-icon class="icon-xs material-icons-round"> place </mat-icon>&nbsp;&nbsp;Puerto Madero
              </span>
            </div>
            <br/>
            <div class="text-left mx-5">
              <h4> Puntos inmersivos: </h4>
              <span>
                <mat-icon class="icon-xxs material-icons-round"> location_searching </mat-icon>&nbsp;&nbsp;Ateneo
              </span>
              <br/>
              <span>
                <mat-icon class="icon-xxs material-icons-round"> location_searching </mat-icon>&nbsp;&nbsp;Plaza de Mayo
              </span>
              <br/>
              <span>
                <mat-icon class="icon-xxs material-icons-round"> location_searching </mat-icon>&nbsp;&nbsp;Cementerio de Recoleta
              </span>
            </div>
          </div>
          <div class ="col-sm-5 my-5">
            <img src="../../../../assets/img/map/caba_demo.PNG" style="width: 90%;">
          </div>
        </div>
      </div>
    </div>
    <!-- Online experience Section -->
    <div class="row">
      <nav class="bar navbar-expand-lg navbar-dark nav m-0" style="height: 120px;">
        <div class="container-fluid">
          <div class="container mt-3 mb-3">
            <h1 class="text-center" style="color: white;"> Experiencia en línea </h1>
            <h5 class="text-center mt-3" style="color: white;">
              Los guías responderán todas y cada una de tus preguntas en vivo.
            </h5>
          </div>
        </div>
      </nav>
    </div>
    <div class="row" id="experiencia_section">
      <!-- Importante title in section-->
      <!--div class="row">
        <div class="col-sm-8 ml-4 my-4">
          <div class="text-left">
            <h1> > Descripción Experiencia en linea </h1>
            <br/>
            <h5 class="ml-4">
              Recorrido por los distintos puntos de la ciudad de Buenos Aires con nuestros guías, 
              quienes responderan todas y cada una de tus preguntas online.
            </h5>
          </div>
        </div>
      </div-->
      <div class="row mt-4 mb-2 text-center">
        <div class="col-sm-2"></div>
        <div class="col-auto pl-3">
          <h3>Selecciona tu guia</h3>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <select class="form-control show-tick form-control-lg">
              <option value="" selected> Seleccione... </option>
              <option value="">Luisito</option>
              <option value="">Juan Diaz</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-auto">
          <h3>Idioma</h3>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <select class="form-control show-tick form-control-lg">
              <option value="" selected> Seleccione... </option>
              <option value="">Español</option>
              <option value="">Inglés</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <hr class="my-0"/>
    <section id="info_tour_section">
      <div class="row">
        <div class="col-sm-8">
          <div class="row mx-3">
            <div class="row mx-5 my-5">
              <div class="col-sm-5">
                <div class="mx-5 my-5 live_autor">
                </div>
              </div>
              <div class="col">
                <div class="text-left mx-5 my-5">
                  <h3>Juan Carlos Díaz</h3>
                  <p class="my-3">Guia en TuristeAR desde 2020</p>
                  <p class="my-3">1450 Opiniones &nbsp;&nbsp;&nbsp;&nbsp;Verificado<mat-icon class="icon verified">verified</mat-icon></p>
                  Transmisión online<mat-icon class="icon duo">duo</mat-icon>
                </div>
              </div>
              <div class="text-left col-sm-11">
                <h3> Conocé al guía </h3>
                Hola me llamo Juan Carlos Diaz, tengo 37 años, llevo trabajando como guia en la Ciudad de Buenos Aires hace 14 años. 
                He trabajado para múltiples empresas de turismo de la Ciudad. Ahora estoy trabajando de forma independiente y he tomado 
                lo mejor de la Ciudad para que me acompañes a conocerla y tengamos una conversacion fluída para que hablemos como si 
                estuvieras acá conmigo! Conocé mis distintos circuitos guiados y reserva cuando gustes el que más te guste.
              </div>
            </div>
            <hr/>
            <div class="mt-5">
              <div class="row">
                <div class ="col mx-3">
                  <div class="text-left mx-5 my-2">
                    <h3> Comentarios sobre el guía </h3>
                  </div>
                </div>
              </div>
              <div class="row text-left mx-5 mt-5">
                <!-- Review #1-->
                <div class="col col-sm-4">
                  <div class="row">
                    <div class="col-auto">
                      <img class="icon-s" src="../../../../../assets/img/icon/woman_01.png">
                    </div>
                    <div class="col-auto">
                      <p class="label-info"> Valeria García </p>
                      <p class="label-info"> hace 2 días </p>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-auto my-3 v-center">
                    <span>"Todo un personaje, no me aburrí en ningún instante e incluso se coparon 
                      en ver el tour mis hermanos y la pasamos super bien. El mejor recorrido que 
                      tuve a comparación de..."
                      <a href="">ver más</a></span>
                  </div>
                  </div>
                </div>
                <!-- Review #2-->
                <div class="col col-sm-4">
                  <div class="row">
                    <div class="col-auto">
                      <img class="icon-s" src="../../../../../assets/img/icon/man_01.png">
                    </div>
                    <div class="col-auto">
                      <p class="label-info"> Julián Amadeo </p>
                      <p class="label-info"> hace 5 días </p>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-auto my-3 v-center">
                    <span>"El pibe toda la onda y la paciencia del mundo. 
                      Le pude preguntar todo lo que me llamó la atención y en todo momento se comunicaba 
                      con todos los participantes de forma activa. Sin duda sigo..."
                      <a href="">ver más</a></span>
                  </div>
                  </div>
                </div>
                <!-- Review #3-->
                <div class="col col-sm-4">
                  <div class="row">
                    <div class="col-auto">
                      <img class="icon-s" src="../../../../../assets/img/icon/woman_02.png">
                    </div>
                    <div class="col-auto">
                      <p class="label-info"> Andrea Rojas </p>
                      <p class="label-info"> hace 1 semana </p>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-auto my-3 v-center">
                    <span>"Muy interesante desde el inicio al fin del tour. 
                      La temática fue lo que me gustó más y me sumé con el mate, aunque sea nueva en esto. 
                      Fue muy interesante toda información que nos contó..."
                      <a href="">ver más</a></span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- BTN: Ver más -->
            <div class="row mx-5 mt-2 mb-5">
              <p class="v-center">
                <button type="button" class="btn-collapse"><mat-icon class="material-icons-round align-bottom">add</mat-icon>&nbsp;&nbsp;Ver más comentarios</button>
              </p>
            </div>
            <div class="col-sm-1">
            </div>
            <hr/>
          </div>
        </div>
        <!-- INICIO: ACCORDIONS -->
        <div class="col-sm-4">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <!-- ACCORDION #1: -->
              <h2 class="accordion-header text-center" id="headingOne">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <mat-icon class="material-icons-round">tag</mat-icon> &nbsp; Relevante
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col text-center">
                      <div class="row v-center">
                        <div class="col-md-3">
                          <mat-icon class="icon-m"> ondemand_video </mat-icon>
                        </div>
                        <div class="col-md-8">
                          <h3>Participa online</h3>
                        </div>
                      </div>
                      <div class="row v-center">
                        <div class="col-md-3">
                          <mat-icon class="icon-m"> groups </mat-icon>
                        </div>
                        <div class="col-md-8">
                          <h3>Hasta 10 personas</h3>
                        </div>
                      </div>
                      <div class="row v-center">
                        <div class="col-md-3">
                          <mat-icon class="icon-m"> celebration </mat-icon>
                        </div>
                        <div class="col-md-8">
                          <h3>Entretenimiento</h3>
                        </div>
                      </div>
                      <div class="row v-center">
                        <div class="col-md-3">
                          <mat-icon class="icon-m"> light_mode </mat-icon>
                        </div>
                        <div class="col-md-8">
                          <h3>Recorrido diurno</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ACCORDION #2: -->
              <section id="reserva_section">
                <h2 class="accordion-header text-center" id="headingTwo">
                  <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <mat-icon class="material-icons-round">event</mat-icon> &nbsp; Disponibilidad
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse show" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col text-center">
                        
                        <h4 class="mb-3">Desde USD 17 por persona</h4>
                        <hr class="mt-2">
                        <!-- Fecha disponible #1 -->
                        <div class="row">
                          <div class="col">
                            <h5>miércoles 11 agosto</h5>
                            <p class="mb-0">21:30 - 22:00 (ART)</p>
                            <small>4 lugares disponibles</small>
                          </div>
                          <div class="col">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#pago">
                              Reservar
                            </button>
                          </div>
                        </div>
                        <hr class="mt-2">
                        <!-- Fecha disponible #2 -->
                        <div class="row">
                          <div class="col">
                            <h5>jueves 24 junio</h5>
                            <p class="mb-0">10:00 - 11:30 (ART)</p>
                            <small>2 lugares disponibles</small>
                          </div>
                          <div class="col">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#pago">
                              Reservar
                            </button>
                          </div>
                        </div>
                        <hr class="mt-2">
                        <!-- Fecha disponible #3 -->
                        <div class="row">
                          <div class="col">
                            <h5>jueves 24 junio</h5>
                            <p class="mb-0">14:30 - 15:30 (ART)</p>
                            <small>10 lugares disponibles</small>
                          </div>
                          <div class="col">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#pago">
                              Reservar
                            </button>
                          </div>
                        </div>
                        <hr class="mt-2">
                        <!-- Fecha disponible #4 -->
                        <div class="row">
                          <div class="col">
                            <h5>domingo 20 junio</h5>
                            <p class="mb-0">18:30 - 19:30 (ART)</p>
                            <small>7 lugares disponibles</small>
                          </div>
                          <div class="col">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#pago">
                              Reservar
                            </button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- ACCORDION #3: -->
              <h2 class="accordion-header text-center" id="headingThree">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                  aria-expanded="true" aria-controls="collapseThree">
                  <mat-icon class="material-icons-round">check_circle_outline</mat-icon> &nbsp; Necesitarás
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col my-3">
                      <div class="row text-left v-center">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                          <mat-icon class="icon-s"> task_alt </mat-icon>
                        </div>
                        <div class="col-auto">
                          <h5>Set de mate y masitas</h5>
                        </div>
                      </div>
                      <div class="row text-left v-center">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                          <mat-icon class="icon-s"> task_alt </mat-icon>
                        </div>
                        <div class="col-auto">
                          <h5>Tarro de dulce de leche</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin: ACCORDIONS -->
      </div>
    </section>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col">
        <div class="text-left mx-5 my-5">
          <h3>Experiencias virtuales en Turistear</h3>
          <br/>
          <div class="row v-center">
            <div class="col-sm-1">
              <mat-icon class="material-icons-round icon-s">sentiment_very_satisfied</mat-icon>
            </div>
            <div class="col-sm-3">
              <b>Total atención</b>
              <p class="mt-4">
                Conocé a anfitriones que comparten sus conocimientos y te dejan entrar en su mundo.
              </p>
            </div>
            <div class="col-sm-1">
              <mat-icon class="material-icons-round icon-s">reduce_capacity</mat-icon>
            </div>
            <div class="col-sm-3">
              <b>Actividades en grupos chicos</b>
              <p class="mt-4">
                Compartí la experiencia de aprender algo nuevo con personas de todo el mundo.
              </p>
            </div>
            <div class="col-sm-1">
              <mat-icon class="material-icons-round icon-s">desktop_windows</mat-icon>
            </div>
            <div class="col-sm-3">
              <b>Fácil acceso desde cualquier lugar</b>
              <p class="mt-4">
                Unirte es fácil y podés participar desde tu casa con muy poca preparación.
              </p>
            </div>
          </div>
        </div>
        <hr/>
        <div class="text-left mx-5 my-5">
          <h3>¿Qué tenes que saber?</h3>
          <br/>
          <div class="row">
            <div class="col-sm-5">
              <b>Política de cancelación</b>
              <p class="mt-4">
                Todas las experiencias pueden cancelarse y reembolsarse completamente dentro de las 24 horas posteriores a la compra, o al menos 7 días antes del inicio de la experiencia.
              </p>
              <p class="v-center">
                <a href="">Más información</a><mat-icon class="material-icons-round">navigate_next</mat-icon>
              </p>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-5">
              <b>Requisitos para los participantes</b>
              <p class="mt-4">
                Para participar, vas a necesitar una conexión a internet y los dispositivos necesarios para la transmisión de audio y video. Vamos a compartir el enlace e indicarte cómo unirte en el correo electrónico de confirmación de la reserva.
              </p>
              <p class="v-center">
                <a href="">Más información</a><mat-icon class="material-icons-round">navigate_next</mat-icon>
              </p>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row" id="resenias">
          <div class ="col">
            <div class="text-center mx-5 my-2">
              <h3> Reseñas </h3>
              </div>
            </div>
        </div>
        <div class="row">
          <div class ="col-sm-1"></div>
          <div class ="col">
            <!-- Review #1-->
            <div class="row mt-3 text-left mx-5 my-3">
              <div class="label-info"> Andrea Rojas&nbsp;&nbsp;05/06/2021</div>
              <div class="col-auto col-sm-2">
                <img class="icon-m" src="../../../../../assets/img/icon/woman_02.png">
              
              </div> 
              <div class="col-auto v-center">
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star_half</mat-icon>
              </div>
              <div class="col-auto v-center">
                <span style="vertical-align: super;"> "Me fascinó el tour al teatro Colón. Las experiencias 360º un lujo." </span>
              </div>
            </div>
            <!-- Review #2-->
            <div class="row text-left mx-5 mt-1">
              <div class="label-info">Francisco Perez&nbsp;&nbsp;30/05/2021</div>
              <div class="col-auto col-sm-2">
                <img class="icon-m" src="../../../../../assets/img/icon/man_01.png">
              </div>
              <div class="col-auto v-center">
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star_border</mat-icon>
              </div>
              <div class="col-auto v-center">
                <span style="vertical-align: super;"> "Me gustó mucho el recorrido, realmente sentí que estaba en Buenos Aires." </span>
              </div>
            </div>
            <!-- Review #3-->
            <div class="row text-left mx-5 my-3">
              <div class="label-info"> Analía Reyes&nbsp;&nbsp;01/05/2021</div>
              <div class="col-auto col-sm-2">
                <img class="icon-m" src="../../../../../assets/img/icon/woman_01.png">
              </div>
              <div class="col-auto v-center">
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star</mat-icon>
                <mat-icon class="text-warning">star_half</mat-icon>
                <mat-icon class="text-warning">star_border</mat-icon>
              </div>
              <div class="col-auto v-center">
                <span style="vertical-align: super;"> "Me gustó, aunque me hubiera gustado hacer un recorrido que no conociera."
                </span>
              </div>
            </div>
            <!-- BTN: Ver más -->
            <div class="row mx-5 my-3">
              <p class="v-center">
                <button type="button" class="btn-collapse"><mat-icon class="material-icons-round align-bottom">add</mat-icon>&nbsp;&nbsp;Ver más reseñas</button>
              </p>
            </div>
          </div>
          <div class ="col-sm-1"></div>
        </div>
        <hr/>
        <!-- GIFs #1 Destinos -->
        <div class="row my-n2">
          <div class="col-sm-5 text-center mx-4 my-4">
            <p class="mb-n1"> Publicidad </p>
            <img class="banner_salta">
          </div>
          <div class="col-sm-6 text-center mx-4 my-4">
            <p class="mb-n1"> Publicidad </p>
            <img class="banner_tucuman">
          </div>
        </div>
      </div>
      <!-- DO NOT REMOVE!!! Space to RIGHT-->
      <div class="col-sm-1"></div>
    </div>
 </div>
</div>
<!-- INICIO: FOOTER -->
<footer class="footer">
  <div class="container text-white">
    <br />
    <div class="row">
      <!-- Redes sociales -->
      <div class="col-md-4 col-lg-5">
        <div class="title"> Redes sociales </div>
        <p>
          <mat-icon class="material-icons-round">facebook</mat-icon>&nbsp;&nbsp;
          <span style="vertical-align: super;">TuristeAR</span>
        </p>
        <p>
          <mat-icon class="material-icons-round">travel_explore</mat-icon>&nbsp;&nbsp;
          <span style="vertical-align: super;">TuristeAR.blog.com</span>
        </p>
        <p>
          <mat-icon class="material-icons-round">share</mat-icon>&nbsp;&nbsp;
          <span style="vertical-align: super;">TuristeAR</span>
        </p>
        <p>
          <mat-icon class="material-icons-round">alternate_email</mat-icon>&nbsp;&nbsp;
          <span style="vertical-align: super;">Turiste_AR</span>
        </p>
      </div>
      <!-- Contacto -->
      <div class="col-md-4 col-lg-5">
        <div class="title"> Valoranos </div>
        <p>
          <mat-icon class="material-icons-round">local_cafe</mat-icon>&nbsp;&nbsp;
          <span style="vertical-align: super;">Cafecito</span>
        </p>
        <p>
          <mat-icon class="material-icons-round">star</mat-icon>&nbsp;&nbsp;
          <a style="vertical-align: super;" href="https://github.com/AndreaRojas/app-control-turismo-ui" target="_blank"
            rel="noopener"> Dejanos una estrella</a>
        </p>
      </div>
      <!-- Contacto -->
      <div class="col-md-4 col-lg-2">
        <div class="title"> Contacto </div>
        <p>
          <mat-icon class="material-icons-round">location_city</mat-icon>&nbsp;&nbsp;
          <span style="vertical-align: super;">Buenos Aires</span>
        </p>
        <p>
          <mat-icon class="material-icons-round">location_on</mat-icon>&nbsp;&nbsp;
          <span style="vertical-align: super;">Lima 775, C1073</span>
        </p>
        <p>
          <mat-icon class="material-icons-round">call</mat-icon>&nbsp;&nbsp;
          <span style="vertical-align: super;">(011) 4000-7600</span>
        </p>
        <p>
          <mat-icon class="material-icons-round">alternate_email</mat-icon>&nbsp;&nbsp;
          <span style="vertical-align: super;">info@turistear.com</span>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Fin FOOTER -->

<!-- Popup Reserva -->
<div class="modal fade" id="pago" tabindex="-1" role="dialog" aria-labelledby="pagoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width: 1000px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Formulario de reserva: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0">

        <div class="row pl-3">
          <div class="col pl-0">
            <h5 class="mt-3 mb-3">Datos de contacto:</h5>
            <div class="row p-1">
              <div class="col pr-0">
                <p class="mb-0 pr-0" style="line-height: 40px">Nombre:</p>
              </div>
              <div class="col pl-0">
                <div class="form-group pb-0 mb-0">
                  <input type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="Agustín">
                </div>
              </div>
            </div>
            <div class="row p-1">
              <div class="col pr-0">
                <p class="mb-0 pr-0" style="line-height: 40px">Apellido:</p>
              </div>
              <div class="col pl-0">
                <div class="form-group pb-0 mb-0">
                  <input type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="Grangetto">
                </div>
              </div>
            </div>
            <div class="row p-1">
              <div class="col pr-0">
                <p class="mb-0 pr-0" style="line-height: 40px">E-mail:</p>
              </div>
              <div class="col pl-0">
                <div class="form-group pb-0 mb-0">
                  <input type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="agrangetto@gmail.com">
                </div>
              </div>
            </div>
            <div class="row p-1">
              <div class="col pr-0">
                <p class="mb-0 pr-0" style="line-height: 40px">Celular:</p>
              </div>
              <div class="col pl-0">
                <div class="form-group pb-0 mb-0">
                  <input type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="11 00010299">
                </div>
              </div>
            </div>
            <div class="row p-1">
              <div class="col pr-0">
                <p class="mb-0 pr-0" style="line-height: 40px">Nro. de cupos:</p>
              </div>
              <div class="col pl-0">
                <div class="form-group pb-0 mb-0">
                  <select class="form-control show-tick">
                    <option value="" selected> Seleccione... </option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                    <option value="">6</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div class="p-3 text-center">
              
              <h4 class="my-2">miércoles 11 agosto</h4>
              <h4 class="my-2">21:30 - 22:00 (ART)</h4>
              <small>4 lugares disponibles</small>
            </div>
          </div>
          <div class="col-sm-1 my-5">
            <hr style="    border:         none;
            border-left:    1px solid hsla(200, 10%, 50%,100);
            height:         95%;
            width:          1px;
            position:relative;
            left:50%"  >
          </div>
          <div class="col pr-5 text-center">
            <img class="my-5" src="../../../../assets/img/icon/qr.png" style="height:280px">
            <div class="my-1">
              <h5>Escanea el código QR</h5>
              <h4>Monto a pagar: <b>USD 17.00</b></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer p-3">
        <button type="button" class="btn btn-primary mt-0" data-dismiss="modal" data-toggle="modal"
               data-target="#exampleModalCenter" (click)="setPopupTitle('Reserva', 'reserva')">
          Reservar
        </button>
      </div>

    </div>
  </div>
</div>

<!-- Popup Pago QR -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> {{popupTitle}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 text-center">
        <img src="../../../../assets/img/icon/correct.png" style="height:100px">
        <p>{{popupTitle}} confirmada!</p>
        <p>Comprobante #478475</p>

        <p>Se envio un mail con la información relacionada a su {{label}}</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Popup Comprar -->
<div class="modal fade" id="comprar" tabindex="-1" role="dialog" aria-labelledby="pagoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width: 1000px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Formulario de compra: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0">

        <div class="row pl-3">
          <div class="col pl-0 mt-5 pt-4">
            <h5 class="mt-3 mb-4">Datos de contacto:</h5>
            <div class="row p-1">
              <div class="col pr-0">
                <p class="mb-0 pr-0" style="line-height: 40px">Nombre:</p>
              </div>
              <div class="col pl-0">
                <div class="form-group pb-0 mb-0">
                  <input type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="Agustín">
                </div>
              </div>
            </div>
            <div class="row p-1">
              <div class="col pr-0">
                <p class="mb-0 pr-0" style="line-height: 40px">Apellido:</p>
              </div>
              <div class="col pl-0">
                <div class="form-group pb-0 mb-0">
                  <input type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="Grangetto">
                </div>
              </div>
            </div>
            <div class="row p-1">
              <div class="col pr-0">
                <p class="mb-0 pr-0" style="line-height: 40px">E-mail:</p>
              </div>
              <div class="col pl-0">
                <div class="form-group pb-0 mb-0">
                  <input type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="agrangetto@gmail.com">
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-1 my-5">
            <hr style="
            border:         none;
            border-left:    1px solid hsla(200, 10%, 50%,100);
            height:         95%;
            width:          1px;
            position:relative;
            left:50%">
          </div>
          
          <div class="col pr-5 text-center">
            <img class="my-5" src="../../../../assets/img/icon/qr.png" style="height:280px">
            <div class="my-1">
              <h5>Escanea el código QR</h5>
              <h4>Monto a pagar: <b>USD 8.00</b></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer p-3">
        <button type="button" class="btn btn-primary mt-0" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalCenter"
          (click)="setPopupTitle('Compra','compra');clickBuyTour()">
          Comprar
        </button>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="masInfo" tabindex="-1" role="dialog" aria-labelledby="masInfoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">TuristeAR te ofrece</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body infoBody text-left">

        <div class="row">
          <div class="col">
            <h3>Experiencia interactiva</h3>

            <div class="row my-4">
              <p>Disfrutá de nuestro contenido totalmente exclusivo y recorrelo como quieras, las veces que quieras.</p>
            </div>

            <div class="mb-1 pb-3 text-center"><h4>8 USD</h4></div>
            
            <div class="row mt-3">
              <div class="col">

                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Mapa interactivo
                </p>
                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Recorridos totalmente flexibles
                </p>
                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Inmersión 360º <!--con Realidad Virtual-->
                </p>
                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Múltiples video-tour-interactivos
                </p>
                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Los mejores guias
                </p>

              </div>
            </div>
            <div class="card-body d-flex flex-column">
              <button *ngIf="notPaid" type="button" class="align-self-end btn btn-lg btn-block btn-primary"
                data-dismiss="modal" data-toggle="modal" data-target="#comprar"> Comprar </button>
              
              <a *ngIf="!notPaid" class="nav-link" href="/interactivo/1234">
                <button type="button" class="align-self-end btn btn-lg btn-block btn-success"> Ver </button> 
              </a>
            </div>
          </div>

          <div class="col-sm-1 mx-0 my-2">
            <hr style="
            border:         none;
            border-left:    1px solid hsla(200, 10%, 50%,100);
            height:         95%;
            width:          1px;
            position:relative;
            left:50%">
          </div>

          <div class="col">
            <h3>Experiencia en línea</h3>

            <div class="row my-4">
              <p>Sumate a nuestra experiencia en línea con nuestros guías especializados, que te acompañarán siempre.</p>
            </div>

            <div class="mb-1 pb-3 text-center"><h4>Desde 17 USD</h4></div>

            <div class="row mt-3">
              <div class="col">
                
                <p class="v-center my-4">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Guías residentes
                </p>
                <p class="v-center my-4">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Chat directo con el guía
                </p>
                <p class="v-center my-4">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Grupos reducidos
                </p>
                <p class="v-center my-4">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Personalización de tour
                </p>

              </div>
              <div class="card-body d-flex flex-column">
                  <button type="button" class="align-self-end btn btn-lg btn-block btn-primary" data-dismiss="modal"
                    (click)="navigateToSection('reserva_section');"> Reservar </button>
              </div>
            </div>
          </div>

          <div class="col-sm-1 mx-0 my-2">
            <hr style="
            border:         none;
            border-left:    1px solid hsla(200, 10%, 50%,100);
            height:         95%;
            width:          1px;
            position:relative;
            left:50%">
          </div>
          
          <div class="col">
            <h3>Combo premium</h3>

            <div class="row my-4">
              <p>Adquirí nuestros combos a un precio promocional y hace más inmersiva tu experiencia.</p>
            </div>

            <div class="row mb-1 pb-3">
              <div class="col text-right"><h4>20 USD</h4></div>
              <div class="col"><span style="color: green; size: 14px;">20% OFF</span></div>
            </div>
            <div class="row mt-3">
              <div class="col">
                
                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Interactividad + Guia en vivo
                </p>
                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Conocé sin límites nuestro tour
                </p>
                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Disponible por 3 semanas
                </p>
                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Elige el tour y guía que quieres
                </p>
                <p class="v-center my-3">
                  <mat-icon class="material-icons-round grn">check_circle</mat-icon>&nbsp;&nbsp;Ideal para regalar
                </p>

              </div>
            </div>
            <div class="card-body d-flex flex-column">
              <button type="button" class="align-self-end btn btn-lg btn-block btn-primary" data-dismiss="modal"> Adquirir </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>