.navbar {
    box-shadow: 2px 2px 5px #000000;
    opacity: .9;
}

.bar{
    
    background-color: rgb(81, 173, 232);
}

.navbar .nav-item .nav-link {
    color:#fff
}

.main-header{
    position:relative;
    background: url("./../../src/assets/img/fondo.jpg");
    background-size: cover ;
    min-height: 700px;
}

.productos-header{
    position:relative;
    //background: url("./../../src/assets/img/wallpaperproductos.jpg");
    background-color: #82b8d273;
    background-size: cover ;
    z-index: 1;
 
}
.copyright{
    max-height: 20px;
}

.background-overlay{
    position:absolute;
    background:rgb(47, 54, 64,0.6);
    //top:0;
    //left:0;
    width:100%;
    height:100%;
}

.team {
    background:#30336b;
}

.productos{
    background:white
}

.duracion{
    margin-left:auto;
    margin-right:0;
}

.responsive{
    height: 100%;
    width: 100%;
}

.responsive-div{
    min-height: 400px;
}

.ventana-modal{
    width: 800px;
}

.collapse.navbar-collapse > ul li a{
    color: white;
    font-size: 26px;
    opacity: .9;
    font-weight: 500;
    text-transform: uppercase;
}

nav.navbar.navbar-expand-lg.nav{
    background-color: #1692e0d4;//#1da7ff;
}

.footer {
    background-color: #434343;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
}

mat-icon.icon{
    font-size: 26px;
    padding: 2px 0px 0px 10px;
}

mat-icon.icon-m{
    font-size: 65px;
    padding: 2px 0px 0px 10px;
}
mat-icon.icon-s{
    font-size: 45px;
    padding: 2px 0px 0px 10px;
}
mat-icon.icon-xs{
    font-size: 20px;
    padding: 2px 0px 0px 10px;
}
mat-icon.icon-xxs{
    font-size: 15px;
    padding: 2px 0px 0px 10px;
}

img.icon-xs{
    width: 3vw;
    height: 7vh;
    padding: 1% 0px 0px 5%;
}

img.icon-s{
    width: 5vw;
    height: 8vh;
    padding: 0% 0px 0px 10%;
}

img.icon-m{
    width: 7vw;
    height: 10vh;
    padding: 0% 0px 0px 10%;
}

button.btn-collapse{
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    padding: 1% 2% 1% 2%;
}

button.btn-collapse-m{
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    font-size: 16px;
    padding: 2% 3% 2% 3%;
}

.row > div .title {
    opacity: .9;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 15px 0px 15px 0px;
}

// Title app
nav.banner {
    background-color: rgb(255 255 255 / 25%);
    text-align: center;
    padding: 1% 0px 1% 0px;
}

nav.banner > div .title {
    color: #5fb2e2;
    font-size: 50px;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
}

nav.banner > div .sub-title {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    font-family: fantasy;
    margin-top: -10px !important;
}
// fin title app

.checked{
    color:rgb(248, 248, 100);
}
.verified{
    color:green;
    vertical-align: sub;
}
.duo{
    color: steelblue;
    vertical-align: sub;
}

button > mat-icon.mat-icon {
    vertical-align: sub;
}

//Banners
.banner_ad_covid {
    min-height: 125px;
    background-image: url('./../../src/assets/img/ad/banner_corona_min.gif');
    //background-image: url(banner_corona_min.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: inherit;
}
.banner_ad_covid-whatsapp {
    min-height: 125px;
    width: 109%;
    background-image: url('./../../src/assets/img/ad/recibe_whatsApp.png');
    background-position: center center;
}
.banner_ad_bsas {
    width: 100%;
    background-image: url('./../../src/assets/img/banner/buenosairesbanner.jpg');
    height: 195px;
    background-position: unset;
    background-repeat: round;
    position: inherit;
}

img.banner_salta {
    width: 540px;
    height: 160px;
    background-image: url('./../../src/assets/img/ad/banner_salta.gif');
    background-position: center center;
}
img.banner_tucuman {
    width: 600px;
    height: 160px;
    background-image: url('./../../src/assets/img/ad/banner_tucuman_696x220.gif');
    background-position: center center;
}
img.banner_turismo {
    width: 110%;
    height: 90%;
    background-image: url('./../../src/assets/img/ad/banner-turismo-ok.gif');
    background-position: center center;
    background-size: cover;
}
img.banner_meli {
    width: 100%;//90%;
    height: 180px;
    background-image: url('./../../src/assets/img/banner/meli_diadelpadre.jpg');
    background-position: center center;
    background-size: cover;
}

.banner_left{
    width: 131%;
    height: 32%;
    background-image: url('./../../src/assets/img/ad/banner_salta.gif');
    //background-image: url(banner_corona_min.gif);
    //background-image: url(banner_cordoba_300x300.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: inherit;
    margin-top: 0%;
}

.live_autor{
    min-width: 19vw;
    min-height: 32vh;
    background-image: url('./../../src/assets/img/ad/live_trio.gif');
    //background-image: url(banner_corona_min.gif);
    background-size: cover;
    background-position: center center;
}

.img-fluid.rounded-circle.photo{
    width: 80%;
    height: 16vh;
}